@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@font-face {
  font-family: BrushScriptMT;
  src: url("http://db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.ttf");
}

body {
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #8B4513;
}

a:hover {
  text-decoration: underline;
}

h2 { margin: 0 }
h3, h4 { margin-top: 0 }

#app {
  margin: 0 auto;
  width: 75%;
  @media (max-width: 48em) {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

// main content

.main {
  width: 100%;
  display: inline-block;

  img.main {
    width: 100%;
  }

  .content {
    margin: 0 1em 1em 1em;
  }

  @media (max-width: 48em) {
    .content {
      margin: 1em;
    }
  }
}

// flex templates

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-row-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

// events

.events {
  width: 100%;
}

.event-link {
  width: 40%;
  margin: 5%;
  @media (max-width: 48em) {
    width: 95%;
  }
}

.event-photo {
  width: 40%;
  margin: 5%;
  align-self: center;
  img {
    width: 100%;
  }
}

// header component

.header {
  height: 250px;
  margin-bottom: 2em;
  @media (max-width: 48em) {
    margin-bottom: 0.5em;
    height: auto;
  }

  .left {
    width: 45%;
    img.logo {
     width: 100%;
     height: auto;
    }
    @media (max-width: 48em) {
      width: 100%;
      padding: 0 0.5em 0 0.2em;
    }
  }

  .right {
    width: 55%;
    text-align: right;
    img.addy {
      width: 40%;
      padding-top: 20px;
    }
    @media (max-width: 48em) {
      display: none;
    }
  }
}


#canvas {
  position: absolute;
  right: 12.5%;
  @media (max-width: 48em) {
    display: none;
  }
}

// footer component

.footer {
  font-size: 0.9em;
  width: 100%;
  padding: 0.2em 0 1em 0;
  @media (max-width: 30em) {
    font-size: 0.7em;
  }
}

.info {
  margin: 0 1.5em 0 0.8em;
}

.subscribe-and-social {
  max-width: 55%;
}

.social {
  text-align: center;
  margin-left: 0.8em;
  margin-right: 0.2em;
  @media (max-width: 30em) {
    margin-left: 0.4em;
    margin-right: 0;
  }
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 3px;
}

.socialbtns li {
  list-style: none outside none;
}

.socialbtns .fa {
  width: 30px;
  height: 22px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 8px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
  @media (max-width: 30em) {
    width: 21px;
    height: 16px;
    padding-top: 5px;
  }
}

.socialbtns .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
  text-decoration: none;
}

.button-link {
  margin-bottom: 50px;
  padding: 4px 7px;
  border: 2px solid #8B4513;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #8B4513;
  }
}

.subscribe {
  div#mc_embed_signup_scroll, b {
  }
  input#mce-EMAIL.required.email {
    border: solid 1px black;
    line-height: 1.3em;
    outline: none;
    margin-left: auto;
  }
  .mc-hidden {
    position: absolute;
    left: -5000px;
  }
  input#mc-embedded-subscribe.button {
    border: none;
    background: none;
    outline: none;
  }
  div.clear {
    text-align: right;
  }
}

// nav styles

li.events-submenu-hide {
  display: none !important;
}

li.events-submenu-show {
  display: block !important;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
}

ul.events-menu li {
  a {
    margin-left: 25px;
  }
}

.nav {
  width: 200px;
}

@media (max-width: 48em) {
  .nav { display: none; }
  .nav { display: none; }
  #nav-wrapper:before { content: "\2261"; font-size: 30pt; }
  .nav.visible { display: block; font-size: 12pt; }
}

#nav-wrapper {
  background: #fff;
  // display: inline-block;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  ul li {
    list-style-type: none;
  }
}

#nav-wrapper a {
  display: block;
  font-family: BrushScriptMT;
  font-size: 1.7em;
  text-decoration: none;
  color: #000;
  border: none;
  padding: 0 0 0 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

#nav-wrapper li a:hover,
#nav-wrapper li a:focus,
#nav-wrapper ul a:hover,
#nav-wrapper ul a:focus {
  color: #fff;
  background: #000;
}


// * Bootstrap v3.3.7 carousel

img {
  vertical-align: middle;
}
.img-responsive,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
