@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@font-face {
  font-family: BrushScriptMT;
  src: url("http://db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.ttf");
}
body {
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #8B4513;
}
a:hover {
  text-decoration: underline;
}
#app {
  margin: 0 auto;
  width: 75%;
}
@media (max-width: 48em) {
  #app {
    width: 100%;
  }
}
.main {
  width: 100%;
  display: inline-block;
}
.main img.main {
  width: 100%;
}
.main .content {
  margin: 0 1em 1em 1em;
}
@media (max-width: 48em) {
  .main .content {
    margin: 1em;
  }
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-row-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.events {
  width: 100%;
}
.event-thumb {
  width: 40%;
  margin: 5%;
}
@media (max-width: 48em) {
  .event-thumb {
    width: 95%;
  }
}
.header {
  margin-bottom: 2em;
}
@media (max-width: 48em) {
  .header {
    margin-bottom: 0.5em;
  }
}
.header .left {
  width: 45%;
}
.header .left img.logo {
  width: 100%;
}
@media (max-width: 48em) {
  .header .left {
    width: inherit;
    padding: 0 0.5em 0 0.2em;
  }
}
.header .right {
  width: 55%;
  text-align: right;
}
.header .right img.addy {
  width: 40%;
  padding-top: 20px;
}
.header .right img.temp {
  width: 27%;
}
@media (max-width: 48em) {
  .header .right {
    display: none;
  }
}
.footer {
  font-size: 0.9em;
  width: 100%;
  padding: 0.2em 0 1em 0;
}
@media (max-width: 30em) {
  .footer {
    font-size: 0.7em;
  }
}
.info {
  margin: 0 1.5em 0 0.8em ;
}
.subscribe-and-social {
  max-width: 55%;
}
.social {
  text-align: center;
  margin-left: 0.8em;
  margin-right: 0.2em;
}
@media (max-width: 30em) {
  .social {
    margin-left: 0.4em;
    margin-right: 0;
  }
}
.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 3px;
}
.socialbtns li {
  list-style: none outside none;
}
.socialbtns .fa {
  width: 30px;
  height: 22px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 8px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}
@media (max-width: 30em) {
  .socialbtns .fa {
    width: 21px;
    height: 16px;
    padding-top: 5px;
  }
}
.socialbtns .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
  text-decoration: none;
}
.subscribe input#mce-EMAIL.required.email {
  border: solid 1px black;
  line-height: 1.3em;
  outline: none;
  margin-left: auto;
}
.subscribe .mc-hidden {
  position: absolute;
  left: -5000px;
}
.subscribe input#mc-embedded-subscribe.button {
  border: none;
  background: none;
  outline: none;
}
.subscribe div.clear {
  text-align: right;
}
li.events-submenu-hide {
  display: none !important;
}
li.events-submenu-show {
  display: block !important;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  padding-left: 0;
}
#layout.active #menu {
  left: 150px;
  width: 150px;
}
#layout.active .menu-link {
  left: 150px;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
#menu {
  background: #fff;
  margin-left: -150px;
  /* "#menu" width */
  width: 150px;
  display: inline-block;
  vertical-align: top;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
  font-family: BrushScriptMT;
  font-size: 1.7em;
  text-decoration: none;
  color: #000;
  border: none;
  padding: 0 0 0 0.3em;
  margin-bottom: 0.5em;
}
ul.pure-menu.events-menu {
  padding-left: inherit;
}
ul.pure-menu.events-menu li {
  padding-left: 40px;
}
ul.pure-menu.events-menu li span {
  padding-right: 10px;
}
li.pure-menu-item.last {
  margin-bottom: 1em;
}
/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus,
#menu .pure-menu ul a:hover,
#menu .pure-menu ul a:focus {
  color: #fff;
  background: #000;
}
/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected {
  background: #000;
}
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
  color: #fff;
}
/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/
/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  font-family: "helvetica", sans-serif;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background: #000;
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}
.menu-link:hover,
.menu-link:focus {
  background: #000;
}
.menu-link span {
  position: relative;
  display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}
.menu-link span:after {
  margin-top: 0.6em;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  #layout {
    padding-left: 150px;
    /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 150px;
  }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
  #layout.active .menu-link {
    left: 150px;
  }
}
@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  #layout.active {
    position: relative;
    left: 150px;
  }
}
