body {
  color: black;
  font-family: "helvetica";
  font-size: 1.1rem;
}
#app {
  margin: 0 auto;
  width: 75%;
}
.content {
  width: 80%;
}
.content img.main {
  width: 100%;
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header {
  width: 100%;
  margin-bottom: 40px;
}
.header .left {
  width: 45%;
}
.header .left img.logo {
  width: 100%;
}
.header .right {
  width: 55%;
  text-align: right;
}
.header .right img.phone {
  width: 30%;
  padding-top: 20px;
}
.header .right img.addy {
  width: 65%;
}
.menu {
  width: 20%;
}
.menu div {
  margin-bottom: 40px;
  padding: 5px;
  height: 12px;
}
.menu-about {
  width: 86px;
  background: url('/img/menu_about.png') center no-repeat;
  background-size: 86px;
}
.menu-about:hover {
  background: url('/img/menu_about_inverse.png') #000000 center no-repeat;
  background-size: 86px;
}
.menu-gallery {
  width: 110px;
  background: url('/img/menu_gallery.png') center no-repeat;
  background-size: 110px;
}
.menu-gallery:hover {
  background: url('/img/menu_gallery_inverse.png') #000000 center no-repeat;
  background-size: 110px;
}
.menu-events {
  width: 97px;
  background: url('/img/menu_events.png') center no-repeat;
  background-size: 97px;
}
.menu-events:hover {
  background: url('/img/menu_events_inverse.png') #000000 center no-repeat;
  background-size: 97px;
}
.menu-contact {
  width: 116px;
  background: url('/img/menu_contact.png') center no-repeat;
  background-size: 116px;
}
.menu-contact:hover {
  background: url('/img/menu_contact_inverse.png') #000000 center no-repeat;
  background-size: 116px;
}
