body {
  color: red;
}
.menu {
  width: 100px;
}
.menu div {
  margin: 10px;
  padding: 5px;
  height: 19px;
}
.menu-about {
  width: 136px;
  background: url('/img/menu_about.png') center no-repeat;
}
.menu-about:hover {
  background: #000000 url('/img/menu_about_inverse.png') center no-repeat;
}
.menu-gallery {
  width: 174px;
  background: url('/img/menu_gallery.png') center no-repeat;
}
.menu-gallery:hover {
  background: #000000 url('/img/menu_gallery_inverse.png') center no-repeat;
}
.menu-events {
  width: 153px;
  background: url('/img/menu_events.png') center no-repeat;
}
.menu-events:hover {
  background: #000000 url('/img/menu_events_inverse.png') center no-repeat;
}
.menu-contact {
  width: 183px;
  background: url('/img/menu_contact.png') center no-repeat;
}
.menu-contact:hover {
  background: #000000 url('/img/menu_contact_inverse.png') center no-repeat;
}
